<app-navigation></app-navigation>
<p class="h4 mb-4 text-center text-warning">{{ title }}</p>

<div class="container px-2 mb-2">
  <div
    *ngIf="!isGameStart"
    class="modal-dialog m-auto shadow-lg rounded border border-warning"
  >
    <div class="modal-content d-block p-4 bg-dark text-light">
      <h4 class="mb-5">{{ message }}</h4>
      <button class="btn btn-warning" (click)="toStartGame()">
        {{ timer === 0 || timer < 60 ? "Restart" : "Start" }}
      </button>
    </div>
  </div>
  <div class="row g-5 card-container m-auto">
    <h5 class="col col-sm-12 mt-0">
      <span class="badge bg-light text-dark"> Time: {{ timer }} </span>
    </h5>
    <div
      class="col col-xs-4 col-md-3 my-2"
      *ngFor="let num of numbers; let i = index"
      style="flex: auto"
    >
      <div
        class="
          card-item
          container-fluid
          border-0
          d-flex
          justify-content-center
          align-items-center
        "
        (click)="flipCard(i)"
        [ngClass]="
          checkedCard.indexOf(i) > -1 || matchedCard.indexOf(i) > -1
            ? 'visible'
            : ''
        "
        [ngStyle]="{
          'pointer-events':
            checkedCard.indexOf(i) > -1 ||
            matchedCard.indexOf(i) > -1 ||
            !isGameStart ||
            checkedCard.length >= 2
              ? 'none'
              : 'auto'
        }"
      >
        <div class="card card-front border-0">
          <img
            src="https://pokeres.bastionbot.org/images/pokemon/{{
              randomArray[i] + random
            }}.png"
            alt="pokemon"
            class="img-fluid img-thumbnail bg-transparent border-0"
          />
        </div>
        <div class="card card-back border-0 d-flex justify-content-center">
          <picture>
            <source srcset="../../assets/images/card.webp" type="image/webp" />
            <source srcset="../../assets/images/card.png" type="image/png" />
            <img
              src="../../assets/images/card.png"
              alt="pokemon"
              width="120px"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</div>
