<div
  class="d-flex align-items-center justify-content-center"
  style="height: 100vh"
>
  <div class="row container-login" style="width: 80vw; max-width: 1000px">
    <div
      class="
        col col-12 col-md-6
        login-card
        card
        text-center
        border-0
        bg-dark
        text-light
        shadow-lg
      "
    >
      <div
        class="
          card-body
          d-flex
          flex-column
          justify-content-center
          align-items-center
          m-3
          my-5
        "
        style="height: 45vmin; max-height: 400px"
      >
        <h1 class="card-title fw-bold pe-2">🕹️ Game Time</h1>

        <p class="mt-2 mb-5">back to the simplest fun</p>
        <button type="button" class="btn btn-warning" routerLink="/home">
          👀 Play without login
        </button>
      </div>
    </div>
    <div
      class="
        col col-12 col-md-6
        login-card
        card
        text-center
        p-0
        border-3 border-dark
        shadow-lg
      "
    >
      <div class="bg-dark d-flex py-0">
        <div
          type="button"
          [ngStyle]="{
            background: isNew ? 'white' : 'transparent',
            color: isNew ? 'black' : 'white'
          }"
          class="
            d-flex
            justify-content-center
            align-items-center
            flex-fill
            border-0
            rounded-0
            py-3
          "
          (click)="isNew = true"
        >
          <span class="mx-1"> {{ isNew ? " 🟡 " : " ⚪ " }}</span>
          New player
        </div>
        <div
          type="button"
          [ngStyle]="{
            background: !isNew ? 'white' : 'transparent',
            color: !isNew ? 'black' : 'white'
          }"
          (click)="isNew = false"
          class="
            d-flex
            justify-content-center
            align-items-center
            flex-fill
            border-0
            rounded-0
          "
        >
          <span class="mx-1"> {{ !isNew ? " 🟡  " : " ⚪  " }}</span>

          Sign in
        </div>
      </div>
      <div
        class="
          card-body
          px-3
          border-0
          d-flex
          flex-column
          justify-content-center
          align-items-center
        "
      >
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
          <div
            *ngIf="
              (name.invalid || password.invalid) &&
              (name.dirty || name.touched || password.touched || password.dirty)
            "
            class="text-danger"
          >
            <div *ngIf="name.errors?.pattern">Name cannot contain spaces.</div>
            <div *ngIf="password.errors?.pattern">
              Password cannot contain spaces.
            </div>
          </div>
          <div class="text-danger">
            {{ isNew ? existeAlert : errorAlert }}
          </div>
          <div class="mt-2">
            <label class="h5" for="name">Your name :</label>

            <input
              type="text"
              class="form-control text-center border border-dark fw-bold"
              ngModel
              name="name"
              required
              maxlength="10"
              #name="ngModel"
              autocomplete
              pattern="[^\s]{1,10}"
              autofocus
              id="name"
            />
          </div>
          <div class="mt-2 position-relative">
            <label class="h5" for="password">Password :</label>

            <input
              type="{{ !showPassword ? 'password' : 'text' }}"
              class="form-control text-center border border-dark fw-bold"
              ngModel
              name="password"
              required
              maxlength="20"
              #password="ngModel"
              autocomplete
              pattern="[^\s]{1,20}"
              autofocus
              id="password"
            />
            <span
              class="position-absolute"
              style="bottom: 10%; right: 10px"
              type="button"
              (click)="showPassword = !showPassword"
              [ngStyle]="{ opacity: showPassword ? 1 : 0.5 }"
            >
              👁️
            </span>
          </div>

          <div class="mt-4" *ngIf="isNew">
            <p class="h5">You are :</p>
            <div class="d-flex justify-content-between">
              <span *ngFor="let avatar of avatars; let index = index">
                <input
                  type="radio"
                  class="btn-check"
                  name="avatar"
                  id="{{ 'ava' + index }}"
                  autocomplete="off"
                  ngModel
                  required
                  #avatar="ngModel"
                  value="{{ avatar.name }}"
                />
                <label
                  class="btn btn-outline-dark fs-3 p-1"
                  for="{{ 'ava' + index }}"
                  >{{ avatar.value }}</label
                >
              </span>
            </div>
          </div>
          <button
            type="button"
            type="submit"
            class="btn btn-dark my-4 px-5 fw-bold"
            [disabled]="!f.valid"
          >
            {{ !f.valid ? "Enter ur infos" : "Go!" }}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
