<app-navigation></app-navigation>

<h2 class="mb-4 text-center text-warning">{{ title }}</h2>

<div class="container board p-0 mt-3">
  <button
    class="btn btn-outline-secondary"
    type="button"
    *ngFor="let n of numbers; let id = index"
    (click)="drawX(id)"
    [disabled]="
      currentPlayer === o || spaceO.indexOf(id) < 0 || winner.length > 0
    "
  >
    <p
      class="my-0"
      [ngClass]="{
        winStyle: winLine.indexOf(id) !== -1,
        oStyle: occupO.indexOf(id) !== -1
      }"
    >
      {{ occupX.indexOf(id) !== -1 ? "x" : "" }}
      {{ occupO.indexOf(id) !== -1 ? "o" : "" }}
    </p>
  </button>
</div>

<div *ngIf="winner.length > 0" class="foot mt-5">
  <h2 class="text-center text-light">
    {{
      winner === x
        ? "You Win!"
        : winner === o
        ? "Computer Wins!"
        : winner === nulGame && "Game Nul"
    }}
  </h2>
  <button class="btn btn-warning fw-bolder" (click)="ngOnInit()">
    Restart
  </button>
</div>

<div *ngIf="winner.length < 1" class="foot mt-5">
  <h4 class="text-left text-muted">
    You: X <br />
    Computer: O
  </h4>
</div>
