<app-navigation></app-navigation>

<div class="container-fluid mt-5 d-flex flex-column">
  <h5 class="text-center text-light">
    Press <span class="badge bg-secondary"> Space</span> to jump
  </h5>
  <div class="container" id="playground">
    <div
      #block
      id="block"
      [ngStyle]="{
        'animation-play-state': gameIsOver ? 'paused' : 'initial',
        animation: gameIsOver ? 'none' : 'block 2s infinite linear',
        left: gameIsOver ? '20px' : 'initial'
      }"
    ></div>
    <div
      #space
      id="space"
      [ngStyle]="{
        animation: gameIsOver ? 'none' : 'block 2s infinite linear',
        left: gameIsOver ? '20px' : 'initial'
      }"
    ></div>
    <div #character id="character" class="text-center">
      {{ !gameIsOver || gameInitial ? user.avatar : "☠️" }}
    </div>
    <div class="card dialog d-flex" *ngIf="gameIsOver">
      <button class="btn btn-warning start-button" (click)="onClickStart()">
        {{ gameInitial ? "Start" : "Restart" }}
      </button>
    </div>
  </div>
</div>

<div class="container d-flex justify-content-center">
  <p class="text-light">Score:{{ counter }}</p>
</div>
