<app-navigation></app-navigation>

<main
  class="container d-flex flex-column align-items-center justify-content-center"
>
  <h1 class="mb-4 text-center">{{ title }}</h1>
  <div class="map container mt-2 p-0">
    <div
      class="line-x d-flex flex-row justify-content-center"
      *ngFor="let number of numbers; let col = index"
      id="{{ col }}"
    >
      <div
        class="case p-0 m-0"
        *ngFor="let number of numbers; let row = index"
        id="{{ row + '-' + col }}"
        [ngStyle]="{
          'background-color':
            snakeBody.indexOf(row + '-' + col) !== -1
              ? '#73c7af'
              : 'transparent'
        }"
        [ngClass]="{ fruitStyle: row + '-' + col === fruit }"
      ></div>
    </div>

    <div
      class="card"
      [ngStyle]="{
        display: toggleCard ? 'flex' : 'none',
        'background-color': '#353b48',
        border: 'none'
      }"
    >
      <div class="card-body">
        <h3 class="card-title mt-5">
          {{ firstStart ? "Use your keyboard :  ⬅️ ➡️ ⬆️" : "Game Over" }}
        </h3>

        <button class="btn btn-warning my-5" (click)="gameStart()">
          {{ firstStart ? "Start" : "Restart" }}
        </button>
      </div>
    </div>
  </div>
  <div class="container d-flex align-items-center justify-content-center mt-3">
    <h2>Score: {{ score }}</h2>
  </div>
</main>
