.navbar-brand {
  font-size: 32px;
  font-weight: bolder;
}

.navbar-nav a {
  margin-right: 20px;
}

.side-bar {
  height: calc(100vh - 60px);
  position: absolute;
  top: 60px;
  width: fit-content;
}


.navbar-collapse{
  flex-grow: inherit;
}



@media (max-width: 991px) {
  .side-bar {
    display: none !important;
  }
}
