<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark px-5 mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"> 🕹️ Game center</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="ms-auto"></div>
      <div class="navbar-nav">
        <span class="text-light btn mx-3 fw-bolder">{{
          "Welcome! " + user.name + user.avatar
        }}</span>
        <a
          type="button"
          class="btn btn-outline-warning"
          routerLink="/home-component"
          routerLinkActive="active"
        >
          🏠 Home</a
        >
      </div>
    </div>
  </div>
</nav>

<div class="side-bar container-fluid bg-dark d-flex flex-column p-3">
  <a
    *ngFor="let c of components"
    type="button"
    class="btn btn-outline-warning my-3"
    routerLink="{{ c.link }}"
    routerLinkActive="active"
    >{{ c.emoji }}</a
  >
</div>
