.navbar-brand {
  font-size: 32px;
  font-weight: bolder;
}

.navbar-nav a {
  margin-right: 20px;
}

.side-bar {
  height: calc(100vh - 70px);
  position: absolute;
  background-color: green;
  top: 70px;
  width: fit-content;
}
