<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark px-5 mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"> 🕹️ Game center</a>
    <div class="ms-auto"></div>

    <span
      class="text-light btn fw-bolder text-capitalize"
      style="padding-bottom: 0; cursor: default"
      >{{ user ? "Hello " + user.name + " !" : "Hello !" }}</span
    >

    <button
      *ngIf="user"
      class="btn btn-outline-light mx-3"
      (click)="isPopup = true"
    >
      {{ user.avatar + " Log out" }}
    </button>
    <button *ngIf="!user" class="btn btn-outline-light mx-3" routerLink="/">
      {{ "Log in" }}
    </button>
    <button
      class="navbar-toggler position-relative"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="isCollapsed = !isCollapsed"
    >
      <span class="navbar-toggler-icon"></span>
      <span
        class="bg-dark flex-column p-3 position-absolute m-auto"
        style="
          top: 30px;
          left: -10px;
          right: -10px;
          text-align: center;
          display: none;
        "
        [ngStyle]="{
          display: isCollapsed ? 'none' : 'flex'
        }"
      >
        <a
          *ngFor="let c of components"
          type="button"
          class="btn btn-outline-warning my-3"
          routerLink="{{ '/' + c.dbName }}"
          routerLinkActive="active"
          >{{ c.emoji }}</a
        >
      </span>
    </button>

    <div
      class="collapse navbar-collapse"
      [class.collapse]="true"
      id="navbarNav"
    >
      <div class="ms-auto"></div>

      <a
        type="button"
        class="btn btn-outline-warning"
        routerLink="/home"
        routerLinkActive="active"
      >
        🏠 Home</a
      >
    </div>
  </div>
</nav>

<div class="side-bar container-fluid bg-dark d-flex flex-column p-3">
  <a
    *ngFor="let c of components"
    type="button"
    class="btn btn-outline-warning my-3 p-2"
    routerLink="{{ '/' + c.dbName }}"
    routerLinkActive="active"
    >{{ c.emoji }}</a
  >
</div>

<div
  *ngIf="isPopup"
  class="
    warning
    container-fluid
    position-absolute
    d-flex
    justify-content-center
    align-items-center
  "
  style="
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.274);
  "
>
  <div class="card text-center bg-dark p-5 border border-light">
    <div class="card-body">
      <h5 class="card-title text-light text-capitalize">
        {{ user.avatar + user.name }}
      </h5>
      <p class="card-text text-light mb-5">Do you really want to log out ?</p>
      <button (click)="isPopup = false" class="btn btn-outline-light mx-3">
        Not Really
      </button>
      <button (click)="logOut()" class="btn btn-light mx-3">Log Out</button>
    </div>
  </div>
</div>
