<app-navigation></app-navigation>

<div class="container px-3 mb-3">
  <div class="row gx-5">
    <div class="col col-sm-12">
      <h4 class="text-dark mt-0 mb-2">
        <span class="badge bg-light text-dark">Classic:</span>
      </h4>
    </div>
    <div class="col col-sm-3" *ngFor="let game of games">
      <div class="card shadow-lg p-1">
        <img src="{{ game.photo }}" class="card-img-top" alt="snake game" />

        <div class="card-body d-flex justify-content-between">
          <span class="card-title">{{ game.name }}</span>

          <a
            class="btn btn-primary"
            type="button"
            class="btn btn-warning"
            routerLink="{{ game.url }}"
            >Go</a
          >
        </div>
      </div>
    </div>

    <div class="col col-sm-12">
      <h4 class="text-dark mt-5 mb-2">
        <span class="badge bg-warning text-dark">New:</span>
      </h4>
    </div>
    <div class="col col-sm-3" *ngFor="let game of newGames">
      <div class="card shadow-lg p-1">
        <img src="{{ game.photo }}" class="card-img-top" alt="snake game" />

        <div class="card-body d-flex justify-content-between">
          <span class="card-title">{{ game.name }}</span>

          <a
            class="btn btn-primary"
            type="button"
            class="btn btn-warning"
            routerLink="{{ game.url }}"
            >Go</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
