<div *ngIf='scores' class="card bg-dark text-light mt-5">
  <div class="card-body border-bottom" *ngIf="dbGameName !== 'home'">
    <div>

      <h5 class="card-title text-center text-capitalize">{{user?'my record':'try login'}}</h5>
      <p *ngIf='!user' class='text-center'>to record your score</p>
      <h5 class="card-title text-center">🏆 {{ myScore ? myScore : "" }}</h5>
    </div>
  </div>
  <div class="card-body">
    <h5 class="card-title text-center text-capitalize">High scores</h5>
  </div>
  <ul class="list-group list-group-flush" *ngIf="dbGameName !== 'home'">
    <li
      class="
        list-group-item
        bg-dark
        text-light
        d-flex
        justify-content-between
        fw-bold
      "
      *ngFor="let s of scores"
    >
      <span class="badge bg-light text-dark">
        {{ s.avatar + " " + s.name }}
      </span>
      <span> 🏆{{ s.score }} </span>
    </li>
  </ul>
  <div class="row px-4 mb-4" *ngIf="dbGameName == 'home'">
    <div class="col" *ngFor="let s of scores">
      <div class="card border bg-dark text-light text-center">
        <div class="card-body">
          <h5 class="card-title">{{ s.gameName }}</h5>
          <h5 class="card-title text-warning">🏆 {{ s.topScore }}</h5>

          <h5>
            <span class="badge bg-light text-dark">
              {{ s.avatar + " " + s.name }}</span
            >
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
