.grid-container {
  display: flex;
  width: 63vmin;
  height: 63vmin;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 7vmin;
  flex: 1 0 auto;
  text-align: center;
  position: relative;
  font-size: 4vmin;

  &:nth-child(3n + 3) {
    border-right: 1px solid teal;
  }
  &:nth-child(4),
  &:nth-child(7) {
    border-left: 1px solid teal;
  }

  & span,
  & .input-case {
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    height: calc(inherit - 2px);
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.gird-case {
  display: flex;
  margin: auto;
  background-color: #2196f3;
  color: rgba(0, 0, 0, 0.7);
  width: 63vmin;
  grid-template-columns: repeat(9);
  user-select: none;

  &:nth-child(3n + 3) {
    border-bottom: 1px solid teal;
    & .grid-item {
      border-bottom: none;
    }
  }
  &:nth-child(4),
  &:nth-child(7) {
    border-top: 1px solid teal;
    & .grid-item {
      border-top: none;
    }
  }
}

.input-case {
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  text-align: center;
  width: 6.5vmin !important;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'> ✏️</text></svg>")
      16 0,
    auto;
}

.button-group {
  display: flex;
  width: 63vmin;
  height: 63vmin;
  margin-top: 4vmin;
  & .button-item {
    height: fit-content;
    flex: 1 0 auto;
    text-align: center;
    font-size: 3vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5vmin;
    padding: 0;
  }
}
