<app-navigation></app-navigation>

<br />
<br />
<div class="gird-container">
  <div class="gird-case" *ngFor="let n of numbers; let y = index">
    <div class="grid-item" *ngFor="let n of numbers; let x = index">
      <span
        [ngStyle]="{
          visibility: hiddenCase.indexOf(y + '-' + x) < 0 ? 'true' : 'hidden'
        }"
      >
        {{ hiddenCase.indexOf(y + "-" + x) < 0 ? grid[y][x] : "0" }}
      </span>
  

        <input  [ngStyle]="{
          display: hiddenCase.indexOf(y + '-' + x) < 0 ? 'none' : 'auto'
        }" class="input-case" type="text" />
     
    </div>
  </div>
</div>
