<p>sudoku works!</p>
<div class="gird-container bg-dark">
  <span class="border border-warning" *ngFor="let n of numbers; let z = index">
    <div style="width: fit-content" *ngFor="let n of [0, 1, 2]">
      <button
        style="width: 40px; height: 40px"
        class="btn btn-outline-light p-3"
        *ngFor="let n of [0, 1, 2]"
      >
        {{ " z=" + z }}
      </button>
    </div>
  </span>
</div>
<br />
<br />
<div class="gird-container">
  <div
    class="gird-case border border-warning"
    *ngFor="let n of numbers; let z = index"
  >
    <span class="grid-item" *ngFor="let n of numbers; let index = index">{{
      z + "-" + index + "=" + firstCase[index]
    }}</span>
  </div>
</div>
